Package: regolith-i3status-rust
Version: 0.20.8-1
Architecture: amd64
Maintainer: Carlos F. Sanz <carlos@sanz.dev>
Installed-Size: 9004
Depends: libc6 (>= 2.32), libdbus-1-3 (>= 1.9.14), libgcc-s1 (>= 4.2), libpulse0 (>= 0.99.4), libssl1.1 (>= 1.1.1), zlib1g (>= 1:1.1.4)
Section: utils
Priority: optional
Homepage: https://github.com/greshake/i3status-rust
Description: feature-rich and resource-friendly replacement for i3status.
 i3status-rs is a feature-rich and resource-friendly replacement for i3status,
 written in pure Rust. It provides a way to display "blocks" of system information
 (time, battery status, volume, etc) on the i3 bar. It is also compatible with sway.
